html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 1000px;
  font-family: "Arial", "Verdana", "Tahoma", sans-serif;
  font-size: 16px; }

body {
  width: auto;
  margin: 0; }

*,
::after,
::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

a {
  text-decoration: none; }

.hidden {
  display: none; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%); }

.fixed-container {
  width: 1000px;
  margin: 0 auto;
  position: relative; }
  .fixed-container::after {
    content: "";
    clear: both;
    display: block; }

.central-container {
  padding-top: 20px;
  background-color: #f9f9f9;
  margin-bottom: 60px; }

.status-bar {
  background-color: black;
  color: white;
  padding: 20px 0;
  font-size: 16px; }

.status-bar a {
  color: white; }

.datetime {
  sfloat: right; }

.header {
  padding: 40px 0 32px;
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  z-index: 2;
  position: relative; }

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px; }

.logo {
  margin-right: 52px; }

.logo__text {
  max-width: 80px;
  font-size: 14px;
  font-weight: 600;
  vertical-align: top;
  display: inline-block;
  line-height: 18px;
  margin-left: 3px;
  letter-spacing: -0.28px;
  color: inherit; }

.city-link {
  color: #448ccb;
  border-bottom: 1px dashed #448ccb;
  font-size: 16px;
  position: relative; }
  .city-link::after {
    content: "";
    display: inline-block;
    background-image: url("../img/down-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 28px;
    height: 20px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0; }

.navigation__item {
  letter-spacing: -0.1px; }

.navigation__item::after {
  content: "/";
  display: inline-block;
  color: #91919f;
  margin-right: 18px;
  margin-left: 18px;
  opacity: 0.3; }

.navigation__item:last-child::after {
  display: none; }

.navigation__link {
  color: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.42; }

.navigation__list_second .navigation__item::after {
  display: none; }

.navigation-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.navigation-second__list {
  margin: 0;
  padding: 0;
  margin-right: 60px; }

.navigation-second__list:last-of-type {
  margin-right: 0; }

.navigation-second__list_padding {
  padding-left: 40px; }

.navigation-second__item {
  list-style: none;
  margin-bottom: 12px; }

.navigation-second__link {
  color: inherit;
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: 20px; }

.list {
  padding-left: 20px; }

.list-item {
  display: list-item; }

.news-item {
  margin-bottom: 22px;
  font-size: 14px;
  position: relative; }

.news-item:last-of-type {
  margin-bottom: 0; }

.news-item__text {
  margin-bottom: 14px;
  position: relative;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal; }

.news-item__text_bold {
  font-weight: 600;
  margin-top: 2px;
  margin-bottom: 14px; }

.news-item__text_size_middle {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.3px; }

.news-item__props {
  font-size: 12px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.news-item__link {
  color: inherit; }

.news-item__category {
  color: #91919f;
  position: relative; }

.news-item__time {
  padding-left: 15px;
  background-image: url("../img/icon-time.svg");
  background-repeat: no-repeat;
  margin-left: auto;
  background-position: center left; }

.news-item__comments-count {
  padding-left: 15px;
  background-image: url("../img/icon-comments.svg");
  background-repeat: no-repeat;
  background-position: center left;
  margin-left: 20px; }

.news-item__decription {
  font-size: 14px;
  margin-top: 16px;
  opacity: 0.7;
  line-height: 20px;
  letter-spacing: -0.28px; }

.news-item__image {
  width: 100%;
  height: 142px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block; }

.news-item__image_type_main {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0; }

.news-item_type_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  color: #ffffff;
  padding: 42px 20px 42px 20px;
  letter-spacing: -0.54px; }

.news-item_type_main .news-item__props {
  max-width: 140px; }

.news-item_type_main .news-item__time {
  background-image: url("../img/icon-time_white.svg"); }

.news-item_type_main .news-item__category {
  color: inherit; }

.news-item_type_main .news-item__text {
  margin-top: 18px;
  margin-bottom: 18px;
  font-size: 30px;
  line-height: 35px;
  font-weight: bold;
  letter-spacing: -0.7px; }

.news-item_col_two {
  width: 48%;
  margin-bottom: 20px; }

.news-item_col_two .news-item__time {
  margin-left: 12px; }

.news-item_type_special {
  margin-bottom: 25px; }

.column-left {
  background-color: #ffffff;
  width: 250px;
  float: left;
  padding: 25px 18px 27px 18px;
  position: relative;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.03);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.03); }

.column-left__btn {
  text-align: center;
  margin-top: 37px; }

.column-right {
  width: 250px;
  float: right; }

.column-right img {
  margin-bottom: 20px;
  display: block; }

.column-right img:last-child {
  margin-bottom: 0; }

.column-center {
  width: 462px;
  margin-left: 20px;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.column-center__news-main {
  width: 100%;
  height: 322px;
  margin-bottom: 20px; }

.special-news {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.special-news__main {
  width: 588px;
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.special-news__list {
  position: relative;
  padding: 25px 19px; }

.weather {
  margin-left: auto;
  color: #91919f;
  font-weight: 400; }

.weather__icon {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 3px; }

.weather__icon_cloudy {
  display: inline-block;
  vertical-align: middle;
  background-image: url("../img/cloudy.svg");
  width: 29px;
  height: 27px;
  margin-bottom: 5px; }

.search {
  margin-left: 43px;
  position: relative;
  min-width: 320px; }

.search__input {
  width: 100%;
  background-color: #ebebeb;
  padding: 16px 21px 15px;
  border-radius: 23px;
  opacity: 0.6;
  border: 1px solid transparent;
  outline: none; }
  .search__input:focus, .search__input:hover {
    border: 1px solid #00122f; }

.search__button {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  background-color: transparent;
  background-image: url("../img/search.svg");
  width: 16px;
  height: 16px;
  cursor: pointer;
  opacity: 0.6;
  outline: none; }
  .search__button:hover {
    opacity: 1; }
  .search__button:focus {
    opacity: 1; }

.main-title {
  font-size: 20px;
  margin: 0 0 52px; }
  .main-title::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    margin-top: 21px;
    position: absolute;
    left: 0; }

.btn {
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: -0.28px;
  color: #448ccb;
  padding: 6px;
  border: 1px solid #448ccb;
  border-radius: 23px;
  min-width: 177px; }

.footer {
  background-color: #00122f;
  color: #ffffff; }

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 55px 0 35px; }

.footer__left,
.footer__right {
  width: 250px; }

.footer__right {
  padding-left: 27px; }

.footer_logo {
  padding-left: 52px;
  margin-top: 6px;
  margin-bottom: 14px; }

.footer__center {
  width: 463px;
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.footer__copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  padding: 16px 0;
  letter-spacing: -0.28px; }

.socials {
  padding: 0;
  margin: 0;
  margin-bottom: 44px; }

.socials__item {
  width: 40px;
  height: 40px;
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #ffffff;
  border-radius: 50%;
  position: relative;
  margin-left: 16px; }

.socials__item:first-of-type {
  margin-left: 0; }

.socials__icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.contacts__element {
  margin-bottom: 22px;
  display: block; }

.contacts__element::before {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
  margin-right: 16px; }

.contacts__element_phone::before {
  background-image: url("../img/call-answer.svg");
  width: 15px;
  height: 15px; }

.contacts__element_email::before {
  background-image: url("../img/envelope.svg");
  width: 13px;
  height: 11px; }

.contacts__link {
  color: inherit;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.36px; }

/*# sourceMappingURL=styles.css.map */
