.logo {
  margin-right: 52px;
}

.logo__text {
  max-width: 80px;
  font-size: 14px;
  font-weight: 600;
  vertical-align: top;
  display: inline-block;
  line-height: 18px;
  margin-left: 3px;
  letter-spacing: -0.28px;
  color: inherit;
}
