.navigation__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation__item:after{
content: "/";
display: inline-block;
color: #91919f;
margin-right: 20px;
margin-left: 20px;
opacity: 0.3;
}
.navigation__item:last-child:after{
  display: none;
  }
.navigation__link {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.42;
}
