.city-link {
  color: #448ccb;
  border-bottom: 1px dashed #448ccb;
  font-size: 16px;
  position: relative;

  &::after {
    content: "";
    display: inline-block;
    background-image: url("../img/down-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 28px;
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
