.column-left {
  background-color: #ffffff;
  width: 250px;
  float: left;
  padding: 25px 18px 27px 18px;
  position: relative;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.03);
}

.column-left__btn {
  text-align: center;
  margin-top: 37px;
}
