.weather {
  margin-left: auto;
  color: #91919f;
  font-weight: 400;
}

.weather__icon {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 3px;
}

.weather__icon_cloudy {
  display: inline-block;
  vertical-align: middle;
  background-image: url("../img/cloudy.svg");
  width: 29px;
  height: 27px;
  margin-bottom: 5px;
}
